<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <a th:href="@{/listar}">Volver</a>
    <div>
        <h3 th:text="${producto.nombre}"></h3>
        <ul>
            <li th:text="'ID: ' + ${producto.id}"></li>
            <li th:text="'Precio: ' + ${#numbers.formatCurrency(producto.precio)}"></li>
            <li th:text="'Fecha: ' + ${#calendars.format(producto.createAt, 'dd-MM-yyyy')}"></li>
        </ul>
    </div>
</body>
</html>